.container {
    padding: 0 2rem;
}

.inner_container {
    padding: .5rem;
    height: calc(100vh - 9rem);
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #eaeaea;
    overflow: hidden;
}

.header {
    padding: 2rem 0;
}

.header,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
}

.title_container {
    border: 2px solid #eaeaea;
    border-radius: 10px;
    width: 100%;
    background-color: #333;
    height: 3rem;
}

.title_container,
.footerBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0 0.5rem;
}

.copyright {
    color: #eaeaea;
    background-color: #333;
    border-radius: 5px;
    padding: 0 0.5rem;
}

.footerBtn {
    height: 100%;
    margin: 0 0.5rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.footerBtn:hover {
    background-color: #555;
}

.btn:active {
    background-color: transparent;
    transform: scale(1.2);
}

.main {
    min-height: 100vh;
    padding-bottom: 4rem;
    padding: 0;
}

@media (max-width: 1000px) {
    .container {
        padding: 0 .5rem;
    }
    .main {
        padding: .5rem 0;
    }
    .header_menu {
        padding: 0 .5rem;
    }
    .inner_container {
        padding: .25rem;
    }
}